In [54]:
import pandas as pd

In [55]:
# Inspecting Data
collisions_df = pd.read_csv("assets\SDOT_Collisions_All_Years.csv")
collisions_df.columns

C:\Users\Lesther D\AppData\Local\Temp\ipykernel_21404\722517998.py:2: DtypeWarning: Columns (28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  collisions_df = pd.read_csv("assets\SDOT_Collisions_All_Years.csv")

Index(['X', 'Y', 'OBJECTID', 'SE_ANNO_CAD_DATA', 'INCKEY', 'COLDETKEY',
       'REPORTNO', 'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES',
       'SERIOUSINJURIES', 'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE',
       'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL',
       'WEATHER', 'ROADCOND', 'LIGHTCOND', 'DIAGRAMLINK', 'REPORTLINK',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR', 'SPDCASENO', 'SOURCE',
       'SOURCEDESC', 'ADDDTTM', 'MODDTTM'],
      dtype='object')

In [56]:
collisions_df.head(2)

,X,Y,OBJECTID,SE_ANNO_CAD_DATA,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR,SPDCASENO,SOURCE,SOURCEDESC,ADDDTTM,MODDTTM
0,-122.26597,47.514452,43291846,NaN,367869,369349,3893010,Unmatched,Block,NaN,...,NaN,NaN,0,0,Y,NaN,PTCR,Police Traffic Collision Report,2023/12/13 00:00:00+00,2023/12/13 00:00:00+00
1,-122.37425,47.631723,43291847,NaN,368929,370409,3933878,Unmatched,Block,NaN,...,NaN,NaN,0,0,N,NaN,PTCR,Police Traffic Collision Report,2024/01/23 00:00:00+00,2024/01/23 00:00:00+00

In [58]:
# Filtering Data
collisions_df_filter = collisions_df[["OBJECTID","X", "Y", "ADDDTTM"]].copy()
collisions_df_filter["Date"] = pd.to_datetime(collisions_df_filter['ADDDTTM']).dt.year

collisions_df_filter = collisions_df_filter[collisions_df_filter['Date'] == 2024]
collisions_df_filter = collisions_df_filter[["OBJECTID","X", "Y"]]
collisions_df_filter.head(100)

     OBJECTID           X          Y
1    43291847 -122.374250  47.631723
2    43291848 -122.388704  47.684964
4    43291850 -122.346958  47.619737
5    43291851 -122.369658  47.637759
10   43291856 -122.329570  47.612504
..        ...         ...        ...
307  43292153 -122.300641  47.678501
309  43292155 -122.335571  47.521783
316  43292162 -122.355901  47.534591
320  43292166 -122.333993  47.708663
324  43292170 -122.376222  47.661211

[100 rows x 3 columns]

In [59]:
# Download Data
collisions_df_filter.to_csv('filtered_data_2024_v2.csv', index=False)